<h2>Cars currently in GA's DB</h2>
<br>
<%@cars.each do |car|%>
<%=image_tag car.image_url, size: '325x250' %>
<table>
  <tr>
    <th>Make</th>
    <td><%= car.make %></td>
  <tr>
    <th>Model</th>
    <td><%= car.model_name %></td>
  <tr>
    <th>Description</th>
    <td><%= car.description %></td>
  </table>
  <%= link_to 'See details', car_path(car)%>
  <%= link_to 'Edit', edit_car_path(car)%>
  <%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' }%>
  <br><br>
<%end%>

