<h1>cars#show</h1>
<p>Find me in app/views/cars/show.html.erb</p>

<table>
<tr>
  <th>Make</th>
  <td><%= @car.make %></td>
<tr>
  <th>Model name</th>
  <td><%= @car.model_name %></td>
<tr>
  <th>Color</th>
  <td><%= @car.color %></td>
<tr>
  <th>Year</th>
  <td><%= @car.year %></td>
<tr>
  <th>Doors</th>
  <td><%= @car.doors %></td>
<tr>
  <th>Description</th>
  <td><%= @car.description %></td>
<tr>
  <th>Image</th>
  <td><%= @car.image_url %></td>
</table>
<br><br>
