<!DOCTYPE html>
<html>
<head>
  <title>GAMC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
  <header>
    <h1>GA Car DB v1.0</h1>
    <p>The Unofficial GA Car DB Management App</p>
  </header>
    <nav>
      <ul>
        <li><%= link_to("Cars in GA's DB", cars_path) %></li>
        <li><%= link_to('Add new car', new_car_path)  %></li>
      </ul>
    </nav>
  </div>
  <hr>

<%= yield %>

</body>
</html>